/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "DM+Serif+Display";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #012A30;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #F9EFE3 !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 25px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.mobile-break { /* Permet au texte indiquer de passer a la ligne  */
    display: none;
}

/* header section start */

/*.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banniere.png);
    background-color: #E9D7C0;
    height: auto;
    background-size: 100%;
    padding: 0px 0px 20px 0px;
}*/
.header_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 550px; /* adapte en fonction */
    background-color: #E9D7C0;
    background-image: url('../images/banniere.png');
}

.header_section_2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 347px; /* adapte en fonction */
    background-color: #E9D7C0;
    background-image: url('../images/banniere_2.png');
}

.bg-light {
    background-color: transparent !important;
}

.logo {
    max-width: 8%;
    margin: auto;
    text-align: center;
    padding: 0% 0% 1% 0%;
}

.logo_mobile {
    width: 10%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}

.mobile_menu {
    width: 100%;
    float: left;
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.navbar-nav {
    align-items: center;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.menu_main {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.menu_main ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
}

.menu_main li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 40px;
}

.menu_main li a {
    color: #E9D7C0;
    padding: 10px 20px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.menu_main li a:hover {
    color: #E9D7C0;
    /*background-color: #D1C5B8;*/
}

/* pour chaque onglet */
.nav-index a {
    background-image: url('../images/onglet_1.png');
}

.nav-about a {
    background-image: url('../images/onglet_2.png');
}

.nav-services a {
    background-image: url('../images/onglet_3.png');
}

.nav-galerie a {
    background-image: url('../images/onglet_4.png');
}

.mb-lg-0,
.my-lg-0 {
    margin-bottom: 0!important;
    width: 20%;
    float: left;
}

.header_main {
    width: 100%;
    background-image: url(../images/header-bg.png);
    background-size: 100%;
    padding: 10px 0px 0px 0px;
}
/* header section end */


/* banner section start */
.banner_section {
    width: 100%;
    padding-bottom: 30%;
    background-image: url('../images/titre.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #E9D7C0; /*Titre*/
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'DM+Serif+Display', Regular;
}

.banner_text {
    width: 63%;
    margin: 0 auto;
    font-size: 16px;
    color: #E9D7C0; /*texte sous titre*/
    text-align: center;
}

.read_bt {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #141414;
    background-color: #F9EFE3;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: 400;
}

.read_bt a:hover {
    background-color: #2b2278;
    color: #F9EFE3;
}

/* banner section end */


/* Index */

.index_section{
    background-image: url('../images/banniere.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -550px; /* on décale pile la hauteur du haut */
    height: 550px;
    background-color: #E9D7C0;
}
.services_section_index { /* pht presentation activités */
    width: 100%;
    float: left;
    margin-top: 30px;
}

/* A propos */
.about_section_index {
    width: 100%;
    float: left; /*NE PAS RETIRER - ALIGNEMENT TEXTE + IMAGE A PROPOS*/ 
    padding-bottom: 90px;
    background-color: #E9D7C0;
}
.about_taital_main_index {
    width: 100%;
    padding-left: 100px;
    padding-top: 70px;
}
.about_taital_index {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #012A30;
    font-weight: bold;
}
.about_text_index {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    margin: 0px;
    padding-top: 40px;
}
.about_img_texte_index { /* Image a coté du texte */
    width: 90%;
    float: left;
    margin: 0px;
    padding-top: 25%;
}
.about_img_index {
    width: 100%;
    float: left;
}
/*FIN INDEX*/

/* services section start */
.services_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    background-color: #E9D7C0;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #012A30;
    font-weight: bold;
    padding-top: 13%;
}

.services_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    margin: 0px;
}

.services_section_2 { /* pht presentation activités */
    width: 100%;
    float: left;
    margin-top: 30px;
}

.col-md-4 {
    padding:10px;
}

.services_img {
    width: 100%;
    float: left;
    text-align: center;
}

.btn_main {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.btn_main a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #F9EFE3;
    background-color: #6F8686;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
}

/*.btn_main a:hover {
    color: #F9EFE3;
    background-color: #43507B;
}*/

.btn_main.active a {
    color: #ffffff;
    background-color: #43507B;
}

/* services section end */


/* about section start */

.about_section {
    width: 100%;
    float: left; /*NE PAS RETIRER - ALIGNEMENT TEXTE + IMAGE A PROPOS*/ 
    padding-bottom: 90px;
    background-color: #E9D7C0;
}

.about_taital_main {
    width: 100%;
    padding-left: 100px;
    padding-top: 70px;
}

.padding_right_0 {
    padding-right: 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #012A30;
    font-weight: bold;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    margin: 0px;
    padding-top: 40px;
}

.about_img_texte { /* Image a coté du texte */
    width: 90%;
    float: left;
    margin: 0px;
    padding-top: 25%;
}

.about_img {
    width: 100%;
    float: left;
}

/* Affichettes */
.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.about_section_2 {
    width: 100%;
    float: left;
    margin-top: 90px;
}

.col-md-4 {
    padding:10px;
}

.about_img {
    width: 100%;
    float: left;
    text-align: center;
}

/* Fin Affichettes */

/* about section end */

/* Galerie */
.gallery-container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: #E9D7C0;
}

.gallery {
    display: flex;
	flex-wrap: wrap;     /* Compenser la marge excessive sur les éléments flexibles de la galerie externe */
	margin: -1rem -1rem;
    padding: 11% 0 0 0;
}

.gallery-item {
	flex: 1 0 40rem;    /* Largeur minimale de 24rem et s'agrandit pour s'adapter à l'espace disponible */
    margin: 8px;        /* La valeur de la marge doit être égale à la moitié de la valeur de l'écart de grille car les marges des éléments flexibles ne s'effondrent pas */	
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}
/* Fin Galerie */

/* blog section start */
.blog_section {
    width: 100%;
    float: left;
    background-image: url(../images/blog-bg.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 345px;
    padding-top: 200px;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #F9EFE3;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

.blog_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #F9EFE3;
    padding-top: 40px;
    text-align: center;
}

.play_icon_main {
    width: 100%;
    margin-top: 150px;
    float: left;
}

.play_icon {
    width: 200px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 49%;
    left: 70px;
    width: 130px;
    height: 130px;
    transform: translate(-50%, -50%);
    background-color: #F9EFE3;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
    right: inherit;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.margin_top_90{
    margin-top: 90px;
}
/* blog section end */


/* client section start */
.client_section {
    width: 100%;
    float: left;
    padding-bottom: 160px;
}

.client_taital {
    width: 100%;
    font-size: 40px;
    color: #131313;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

.client_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #F9EFE3;
    box-shadow: 0px 1px 16px -6px;
    border-radius: 30px;
    padding: 50px 70px;
    margin-top: 50px;
}

.client_main {
    width: 100%;
    display: flex;
}

.box_left {
    width: 48%;
}

.box_right {
    width: 48%;
    float: right;
    padding-top: 65px;
    margin-left: 30px;
}

.lorem_text {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 0px;
    color: #0d0d0d;
    border: 1px solid #0d0d0d;
    padding: 90px 30px;
    border-radius: 30px;
}

.client_taital_left {
    width: 40%;
    float: left;
}

.client_taital_right {
    width: 60%;
    float: left;
}

.client_img {
    width: 100%;
    float: left;
    text-align: left;
}

.quick_icon {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 30px;
}

.client_name {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #012628;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding-top: 53px;
    padding-bottom: 0px;
}

.customer_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #085a57;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #8781bd;
    bottom: -130px;
}

.carousel-indicators .active {
    background-color: #15bd50;
}
/* client section end */


/* choose section start */
.choose_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.choose_taital {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    text-align: center;
}

.choose_text {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    color: #1f1f1f;
    padding-top: 30px;
    text-align: center;
}

.read_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #F9EFE3;
    background-color: #000d10;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.read_bt_1 a:hover {
    background-color: #2b2278;
    color: #F9EFE3;
}

.newsletter_box {
    width: 100%;
    border: 1px solid #6e6e6e;
    border-radius: 25px;
    padding: 20px 30px;
    display: flex;
    margin-top: 90px !important;
    float: left;
}

.let_text {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    padding-bottom: 0px;
}

.getquote_bt {
    width: 200px;
    padding-top: 6px;
}

.getquote_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #F9EFE3;
    background-color: #2b2278;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
}

.getquote_bt a:hover {
    background-color: #000d10;
    color: #F9EFE3;
}
/* choose section end */

/* contact section start */
.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #363636;
    text-align: center;
    font-weight: bold;
}
.email_text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.email-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #2b2278 !important;
}
.massage-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #2b2278 !important;
}
.send_btn {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.send_btn a {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 20px;
    color: #F9EFE3;
    border-radius: 30px;
    background-color: #000d10;
    padding: 7px;
}
.send_btn a:hover {
    color: #F9EFE3;
    background-color: #2b2278;
}
/* contact section end */



/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-image: url('../images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 330px;
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: #e9d7c0;
}

/* Location */
.footer_section .location_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0 0;
}

/* Mail + tel */
.input_btn_main {
    width: 80%;
    max-width: 500px;
    display: flex;
    background-color: #e9d7c0;
    border-radius: 40px;
    padding: 8px 0px;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    font-size: 15px;
    color: #E86C4F;
    background-color: #e9d7c0;
    height: auto;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

.social_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; /* espace entre les deux colonnes */
    margin: 0 0 3% 0;
}

.column.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px; /* ajuste la hauteur pour gérer l'espacement */
}
  
.column.right {
    justify-content: center;
}

.column a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    transition: background 0.2s;
}
  
.column a:hover {
    background: rgba(255, 255, 255, 0.1); /* léger survol */
}
  
.column img {
    width: 30px;
    height: auto;
}

.call_text {
    margin: 5px 0;
    font-size: 15px;
    color: #e9d7c0;
}

.call_text a {
    color: #E9D7C0;
    font-size: 15px;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.call_text a:hover {
    color: #E86C4F;
}

.copyright_section {
    width: 100%;
    text-align: center;
    color: #e9d7c0;
}

.copyright_text {
    font-size: 10px;
    color: #E9D7C0;
    margin-top: 20px;
}

.copyright_text a {
    color: #E9D7C0;
}

.copyright_text a:hover {
    color: #E86C4F;
}
/* footer section end */